body {
  background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

a {
  color: #9896f1;
}

.App {
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  margin: 30px 0;
  font-size: 40px;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
